.flower_info {
    position: fixed;
    top: 14%;
    left: 26%;
    height: 83%;
    width: 72%;
    border: 5px solid #4a8662;
    border-radius: 10px;
    background-color: #124429;

    & span {
        font-size: 1.5rem;
        font-weight: bold;
        color: #4a8662;
        text-shadow: 2px 2px 2px #000000;
        margin: 10px;
    }

    .basic_info {
        margin-top: 3%;
        position: relative;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .info {
            position: relative;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #c2ccc6;
            .icon {
                width: 0;
                height: 0;
                border: 20px solid #4a8662;
                border-radius: 50%;
                background: #4a8662;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}