.navbar {
    position: fixed;
    height: 8%;
    width: 96%;
    margin: 1% 2% 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #124429;
    border: 5px solid #4a8662;
    border-radius: 10px;
    z-index: 100;
    padding-inline: 10px;
    .name {
        font-size: 2rem;
        font-weight: bold;
        color: #4a8662;
        text-shadow: 2px 2px 2px #000000;
        margin-left: 10px;
    }
}